@using BlazorCommerceWebApp.Client.Services.ProductService
@using BlazorCommerceWebApp.Shared
@page "/product/{id:int}"
@inject IProductService ProductService

@if (_product == null)
{
    <span>Loading Product...</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@_product.ImageUrl" alt="@_product.Name"/>
        </div>
        <div class="media-body">
            <h2 class="mb-0">@_product.Name</h2>
            <p>@_product.Description</p>
            <h4 class="price">$@_product.Price</h4>
        </div>
    </div>
}

@code {
    private Product? _product = null;
    
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        // Get the specific product from product service with the lambda expression
        _product = ProductService.Products.Find(p => p.Id == Id);
    }
}